* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #edf8ff;
}

/* Color Variables */
.mario {
  background: #ec1d20;
}
.sonic {
  background: #0367f2;
}
.zelda {
  background: #21aa37;
}
.crash {
  background: #ffb100;
}

.items {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  display: flex;
  margin: 0 16px;
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide {
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 500px;
  transition: transform 0.5s;
  scroll-snap-align: center;
  padding: 0 16px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 92vw;
  height: 90%;
  border-radius: 20px;
  align-items: center;
  transition: 0.3s;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  clip-path: circle(120px at center);
  transition: 0.3s;
}

.card:hover .circle {
  clip-path: circle(400px at center);
}

img {
  position: relative;
  height: 300px;
  top: -40%;
  pointer-events: none;
  transition: 0.5s;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
}

.content {
  position: relative;
  left: 20%;
  width: 100%;
  padding: 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card:hover .content {
  opacity: 1;
  visibility: visible;
}

.content h2 {
  color: #fff;
  font-size: 2em;
}

.content a {
  position: relative;
  padding: 3px 30px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.17);
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.slider__btn {
  z-index: 10;
  border: 2px solid #85a6bf;
  background-color: #edf8ff;
  font-family: inherit;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
